.DS_Store
.vs/
AzurePlayApi/obj/
AzurePlayApi/bin/
AzurePlayApi/Properties/PublishProfiles/
AzurePlayApi/Properties/ServiceDependencies/
BookStoreApi/obj/
BookStoreApi/bin/
BookStoreApi/Properties/PublishProfiles/
BookStoreApi/Properties/ServiceDependencies/